# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
tfplan

# AWS
aws/
awscliv2.zip

# Node
node_modules/
package-lock.json

# Build & Artifacts
*.zip
build/
dist/
test-report.json
test-env.sh

# OS
.DS_Store
Thumbs.db
