* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR */
header {
  background: #111827;
  padding: 1rem 3rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #38bdf8;
  font-size: 1.8rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #38bdf8;
}

/* HERO */
.hero {
  height: 80vh;
  background: linear-gradient(to right, #0f172a, #1e293b);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-content h2 {
  font-size: 3rem;
  color: white;
}

.hero-content p {
  color: #cbd5f5;
  margin: 1rem 0;
}

.btn {
  background: #38bdf8;
  padding: 12px 28px;
  color: #0f172a;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}

.btn:hover {
  background: #0ea5e9;
}

/* FEATURES */
.features {
  padding: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  background: #f8fafc;
}

.card {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

/* FOOTER */
footer {
  background: #020617;
  color: white;
  text-align: center;
  padding: 1.5rem;
}
footer p {
  margin: 0;
}
